<!-- Modal -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="logInStyle.css" />

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="log-in-box">
          <form>
            <div>
              <h3>Welcome back</h3>
            </div>
            <input type="text" placeholder="UserName" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <a>Forgot Password?</a>
            <button type="submit" class="btn">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>