<!-- Modal -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="signUpStyle.css" />

<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="sign-up-box">
          <form>
            <div>
              <h3>Create an account</h3>
            </div>
            <div class="inputs">
              <input type="text" placeholder="UserName" class="input" />
              <input type="text" placeholder="Email" class="input" />
              <input type="password" placeholder="Password" class="input" />
              <input type="text" placeholder="Verify" class="input" />
            </div>
            <button type="submit" class="btn">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>